body{
  background-color: tan;
  max-height: 100%;
  max-width: 100%;
}

#mainDiv{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#headDiv{
  display: none;
  border: 2px solid black ;
  height: 30px;
}

#headSpan1{
  border: 2px solid black ;
}

#headSpan2{
  border: 2px solid black ;
}

#paintToolBar{
  display: flex;
  align-items: left;
  border: 2px solid black;
/*  width: 14%;
  height: 100%;*/

}

#toolsDiv{
  display: flex;
  border: 2px solid black;
  height: 100px;
}

#colorDiv{
  border: 2px solid black;
  height: 99.5%;
  background-color: #888888;
}

.colorbox{
  display: flex;
  justify-content: center;
  border: 2px solid #666666;
  height:23px;
  width: 80%;
  /*float: left ;*/
  /*border-radius: 15px;
  padding-left: 25px;
  padding-top: 20px;*/
}
.colorbox.pos_left {
    /*position: relative;*/
    left: 15px;
}

#colorBlack{
  height:27px;
  border: 2px solid #333333;
}

#draw{
  position: flex;
  width: 100%;
}

.pixelDiv {
  display: flex;
  width: 100%;
  max-height: 702;
}

.pixelBox {
    display: inline-flex;
    font-family:Arial Black;
    /*line-height: 20px;*/
    font-size: 20%;
    height: 25px;
    width: 25px;
    border-style: dotted;
    border-color: gray;
    border-width: 0.5px;
    background-color: white;

}

.pixelBox:hover {
    background-color: yellow;
}
