html{
  height: 1024px;
/*  width: 980px;*/
}

body{
  background-color: tan;
  max-height: 100%;
  max-width: 100%;
}

#mainDiv{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#headDiv{
  display: none;
  border: 2px solid black ;
  height: 30px;
}

#headSpan1{
  border: 2px solid black ;
}

#headSpan2{
  border: 2px solid black ;
}

#paintToolBar{
  border: 2px solid black;
  height: 1024px;
  width: 20%;

}


.toolBox{

  border: 2px solid black;
  height: 100px;

}
#toolx {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
#toolsDiv{

  border: 2px solid black;
  height: 100px;
}

#colorDiv{
  border: 2px solid black;
  height: 80.5%;
  background-color: #888888;
}

.colorbox{
  display: flex;
  justify-content: center;
  border: 2px solid #666666;
  height:70px;
  width: 99%;
}


#colorBlack{
/*  height:27px;
  border: 2px solid #333333;*/
  display: flex;
  justify-content: center;
  border: 2px solid #666666;
  height:70px;
  width: 99%;
}

#draw{
  position: flex;
  width: 100%;
}

.pixelDiv {
  display: flex;
  width: 100%;
  max-height: 702;
}
#toolx{
  height:27px;
  width: 42px;
}

.pixelBox {

    display: flex;
    font-family:Arial Black;
    border-style: dotted;
    border-color: gray;
    border-width: 0.5px;
    height: 37px;
    width: 100%;
    border-style: solid;
    border-color: #999999;
    border-width: 0.1px;
    background-color: white;
}

/*.pixelBox:hover {
    background-color: black;
}
*/